button.mat-button.menu {
  margin-left: 22vw;
}
button.mat-mini-fab {
  margin: 5px;
}
input {
  width: 20vw;
}
button.delete {
  float: right;
}
md-tab-group.group {
  background-color: #fff;
  height: 84vh;
}

span.only-news {
  margin-left: 62px;
  margin-bottom: -2px;
}
