<!--The whole content below can be removed with the new code.-->
<md-toolbar color="primary">
  <span>RSS</span>
  <span class="example-spacer"></span>
  <span class="pointer-cursor">
    <md-icon (click)="refreshFeed()">refresh</md-icon>
  </span>
  <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
</md-toolbar>
<md-menu #appMenu="mdMenu">
  <button md-menu-item> Add RSS </button>
  <button md-menu-item> View </button>
</md-menu>
<app-feed-card *ngFor="let feed of feeds" [feed]="feed"></app-feed-card>
